#image {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 800px ) {
    img {
        border: 5px solid yellow;
    }

    body {
        background-color: cadetblue;
    }
}

@media screen and (min-width: 801px ) and (max-width: 1024px ) {
    img {
        border: 5px solid blue;
    }

    body {
        background-color: darkcyan;
    }
}

@media screen and (min-width: 1025px ) and (max-width: 1920px ) {
    img {
        border: 5px solid red;
    }

    body {
        background-color: lightblue;
    }
}